<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">
    &nbsp;<span class="text-warning">Gestión</span>&nbsp;<span class="text-danger">IA</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <!--asistentes-->
      <li class="nav-item dropdown" *ngIf="userActive">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span>Asistentes</span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item"><span>Abogado</span></a>
          </li>
          <li>
            <a class="dropdown-item"><span>Contable</span></a>
          </li>
          <li>
            <a class="dropdown-item"><span>Otro</span></a>
          </li>
          <li>
            <a class="dropdown-item"><span>Otro más</span></a>
          </li>
        </ul>
      </li>
      <!--facturas-->
      <li class="nav-item dropdown" *ngIf="userActive">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span>Facturas</span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/list"><span>Listado</span></a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/anadir"><span>Añadir</span></a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Login / Logout alineado a la derecha -->
    <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll">
      <li *ngIf="!userActive; else logoutLink" class="nav-item" routerLinkActive="active">
        <a
          class="nav-link"
          routerLink="/login"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          Login
        </a>
      </li>
      <ng-template #logoutLink>
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link"
            routerLink="/logout"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="logout()"
          >
            Logout
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
