<div class="tabla">
    <p-table [value]="facturas">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code" style="width:20%">
                    Cliente <p-sortIcon field="code" />
                </th>
                <th pSortableColumn="name" style="width:20%">
                    Cif <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="category" style="width:20%">
                    Importe <p-sortIcon field="category" />
                </th>
                <th pSortableColumn="quantity" style="width:20%">
                    Iva <p-sortIcon field="quantity" />
                </th>
                <th pSortableColumn="quantity" style="width:20%">
                    Total <p-sortIcon field="quantity" />
                </th>
                <th pSortableColumn="quantity" style="width:20%">
                    Fecha <p-sortIcon field="quantity" />
                </th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.proveedor }}</td>
                <td>{{ product.cif }}</td>
                <td>{{ product.importe }}</td>
                <td>{{ product.iva }}</td>
                <td>{{ product.importeTotal }}</td>
                <td>{{formatDate(product.fecha)  }}</td>
                
            </tr>
        </ng-template>
    </p-table>
</div>