.tabla {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 90vh;
    padding: 10px;
    padding-top: 50px;
    box-sizing: border-box; 
    width: 100%; 
}

.tabla p-table {
    width: 100%; /* Hace que la tabla ocupe todo el ancho disponible dentro de .tabla */
}
