<div class="chat">
  <div class="chat-container">
    <div class="title">
      <span>Hola {{userActive}}, soy tu asistente <strong>{{ capitalize(chatTipo) }}</strong></span>
    </div>
    <div class="chat-box">
      <div *ngFor="let msg of messages" class="message" [ngClass]="msg.role">
        <strong></strong> {{ msg.content }}
      </div>
    </div>

    <div class="chat-input">
      <input [(ngModel)]="inputText" placeholder="Escribe tu mensaje..." />
      <button (click)="sendMessage()">Enviar</button>
    </div>
  </div>
</div>