.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa al menos la altura completa de la pantalla */
  background-color: white;
  padding: 16px; /* Ajusta el padding según sea necesario */
  box-sizing: border-box;
}

/* Para mejorar la responsividad en pantallas pequeñas */
@media (max-width: 768px) {
  .main {
      padding: 8px; /* Reduce el padding en pantallas más pequeñas */
  }
}

/* Ajuste opcional en pantallas grandes */
@media (min-width: 1200px) {
  .main {
      padding: 24px; /* Aumenta el padding en pantallas grandes */
  }
}
