.main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background: linear-gradient(to bottom, #f0f2f5, #d9e2ec); /* Fondo degradado */
  padding: clamp(8px, 2vw, 24px); /* Ajuste de padding responsivo */
  box-sizing: border-box;
  border: 20px solid white; /* Marco blanco alrededor */
  border-radius: 8px; /* Bordes redondeados para un efecto más suave */
}

/* Estilos responsivos */
@media (max-width: 500px) {
  .main {
    border: 10px solid white;
  }

}
