<div class="container" data-aos="fade-down" *ngIf="!loading; else Loading">
  <mat-card>
    <mat-card-content>
      <div class="card">
        <div>
          <span class="text-warning">Facturas</span>&nbsp;<span
            class="text-danger"
            >IA</span
          >
        </div>
        <div>
          <form novalidate [formGroup]="registerCar">
            <div class="file-upload">
              <label for="fileInput" class="custom-file-upload">
                <i class="pi pi-upload"></i>
                {{ nameArchivo || "Seleccionar archivo" }}
              </label>
              <input
                type="file"
                id="fileInput"
                (change)="onFileSelected($event)"
                accept="image/*"
              />
            </div>
            <mat-form-field>
              <mat-label>TIPO</mat-label>
              <select matNativeControl required formControlName="tipo"
              (change)="onInputChange()"
              >
                <option ></option>
                <option value='tipo1'>&nbsp;uno</option>
                <option value='tipo2'>&nbsp;dos</option>
                <option value='tipo3'>&nbsp;tres</option>
              </select>
            </mat-form-field>
            <p-button
              label="Enviar"
              icon="pi pi-check"
              size="small"
              (click)="onSubmit()"
              [disabled]="!registerCar.valid"
            />
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #Loading>
  <app-loading></app-loading>
</ng-template>
